
#test{
  display: flex;
  justify-content: center;
  position: relative;
  height: 820px;
  width: 100%;
  margin-bottom: 2%;
}

#home-background{
    min-width: 100vw !important;
    /* min-height: 100vh !important; */
    top: 0%;
    bottom: 0%;
    text-align:center;
    /* position: absolute; */
    overflow-x: hidden;
    margin: auto;
    object-fit: fill;
  }

  .middle-heading{
    text-align: center;
    position:absolute;
    margin-top: 10%;
  }

  .middle-heading h1{
    font-size: 6rem;
    color: black;
    font-weight: 400;
  }
  
  .middle-heading a{
    font-family: var(--font-family);
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 400;
    padding: 0.2rem 4rem;
    display: inline-block;
    border: 2px solid black;
    border-radius: 50px ;
  }

  .middle-heading a:hover{
    background-color:black;
    color: white;
  }

  @media screen and (max-width:1180px) {
    #test{
      height: auto;
      margin-top: 4.1rem;
    }
    #home-background{
      bottom: 0;
      aspect-ratio: auto;
    }
  }
  @media screen and (max-width:500px) {
    #test{
      height: auto;
      margin-top: 4.1rem;
    }
    #home-background{
      bottom: 0;
      aspect-ratio: auto;
    }
  }